layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode}"
                format_center "#[fg=#7aa2f7,bold]{session}"
                format_right  "{command_git_branch} {tabs}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_normal        "#[bg=#9ece6a,fg=#15161e,bold] Normal "
                mode_locked        "#[bg=#7aa2f7,fg=#15161e,bold] Locked "
                mode_resize        "#[bg=#f7768e,fg=#15161e,bold] Resize "
                mode_scroll        "#[bg=#7dcfff,fg=#15161e,bold] Scroll "
                mode_enter_search  "#[bg=#a9b1d6,fg=#15161e,bold] Enter Search "
                mode_search        "#[bg=#89B4FA,fg=#15161e,bold] Search "
                mode_tab           "#[bg=#bb9af7,fg=#15161e,bold] Tab "
                mode_rename_tab    "#[bg=#bb9af7,fg=#15161e,bold] Rename Tab "
                mode_pane          "#[bg=#9ece6a,fg=#15161e,bold] Pane "
                mode_rename_pane   "#[bg=#9ece6a,fg=#15161e,bold] Rename Pane "
                mode_session       "#[bg=#89B4FA,fg=#15161e,bold] Session "
                mode_move          "#[bg=#f7768e,fg=#15161e,bold] Move "
                mode_prompt        "#[bg=#f7768e,fg=#15161e,bold] Prompt "
                mode_tmux          "#[bg=#ffc387,fg=#15161e,bold] Tmux "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[bg=#7aa2f7,fg=#15161e,bold] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=#7aa2f7] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
            }
        }
    }
}
